<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="MP4ContextMenu" Directory="TARGETDIR">
      <Component Id="MP4ContextMenuComp" Guid="*">

        <!-- Parent submenu entry: "Quick Encode" with flyout arrow -->
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode">
          <RegistryValue Type="string" Name="MUIVerb"     Value="quick encode." />
          <RegistryValue Type="string" Name="SubCommands" Value="" />
          <RegistryValue Type="string" Name="Icon"        Value="[INSTALLDIR]quick-encode.exe,0" />
        </RegistryKey>

        <!-- Submenu shell container -->
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode\shell">
          <RegistryValue Type="string" Value="" />
        </RegistryKey>

        <!-- 1. Add to Quick Encode (plain import, no preset) -->
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode\shell\01_Import">
          <RegistryValue Type="string" Value="Add to quick encode." />
        </RegistryKey>
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode\shell\01_Import\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]quick-encode.exe&quot; --file &quot;%1&quot;" />
        </RegistryKey>

        <!-- 2. Encode with Discord Ready (H.264) -->
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode\shell\03_Discord">
          <RegistryValue Type="string" Value="Encode with Discord Ready" />
        </RegistryKey>
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode\shell\03_Discord\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]quick-encode.exe&quot; --file &quot;%1&quot; --preset discord" />
        </RegistryKey>

        <!-- 3. Encode with Discord Ready (AV1) -->
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode\shell\04_DiscordAV1">
          <RegistryValue Type="string" Value="Encode with Discord Ready (AV1)" />
        </RegistryKey>
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\SystemFileAssociations\.mp4\shell\QuickEncode\shell\04_DiscordAV1\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]quick-encode.exe&quot; --file &quot;%1&quot; --preset discord-av1" />
        </RegistryKey>

      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
